.btn-edit {
  border: 0;
  padding: 6px;
  width: 34px;
  height: 34px;
  background: transparent !important;

  &:hover,
  &:focus {

    .edit,
    .edit:after {
      background-color: $link-hover-color;
    }

    .edit:before {
      border-right: 6px solid $link-hover-color;
    }

  }

}

.edit {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 6px;
  background-color: $brand-primary;
  transform: rotate(-45deg);
  transition: all 400ms;

  &:before {
    position: absolute;
    left: -7px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 6px solid $brand-primary;
    transition: all 400ms;
    content: '';
  }

  &:after {
    position: absolute;
    right: -7px;
    width: 6px;
    height: 6px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $brand-primary;
    transition: all 400ms;
    content: '';
  }

}


.hamburger {
  display: inline-block;
  position: relative;
  top: -7px;
  width: 23px;
  height: 3px;
  background-color: $white;

  &:before,
  &:after {
    position: absolute;
    top: -7px;
    left: 0; right: 0;
    height: 3px;
    background-color: $white;
    content: '';
  }

  &:after {
    top: 7px;
  }

}

.cross {
  display: inline-block;
  position: relative;
  top: -7px;
  width: 23px;
  height: 3px;
  background-color: $brand-primary;
  transform: rotate(45deg);

  &:before {
    position: absolute;
    left: 0; right: 0;
    height: 3px;
    background-color: $brand-primary;
    transform: rotate(90deg);
    content: '';
  }

}
