.offcanvas {
  position: fixed;
  top: 0;
  left: -100%;
  padding-top: 60px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: left 400ms;
  z-index: 99;

  &.active {
    left: 0;
  }

  hr {
    margin: 16px;
  }

  .languages {
    display: table;
    margin: auto;
    float: none;
  }

  .offcanvas-menu {
    display:block;
    width: 100%;
    text-align: center;

    li {
      width: 100%;

      a {
        width: 100%;
        padding: 4px 8px;
      }

    }

  }

}

.btn-offcanvas,
.btn-close {
  position: absolute;
  top: 0; right: 0;
  border: 0;
  font-size: 24px;
  background: transparent !important;
}

.btn-offcanvas {
  margin-top: -8px;
  padding: 12px 21px;
}

.btn-close {
  padding: 20px;
}
