.socials-networks {
  display: inline-block;

  li {
    display: inline-block;
    float: left;
  }

  .mail     a:hover { color: $link-hover-color; }
  .facebook a:hover { color: #3b5998; }
  .twitter  a:hover { color: #1da1f2; }
  .linkedin a:hover { color: #0077b5; }
  .youtube  a:hover { color: #ff0000; }
  .gplus    a:hover { color: #dd4b39; }
  .rss      a:hover { color: #f26522; }

  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: center;

    li {
      float: none;
    }

  }

}
