/conf
/logs
app/sql
app/public/*.log
app/public/.DS_Store
app/public/wp-admin
app/public/wp-content/languages/*
app/public/wp-content/themes/ws-starter-theme/vendor
app/public/wp-content/themes/ws-child/vendor
app/public/wp-content/plugins/advanced-custom-fields-pro
app/public/wp-content/uploads
app/public/wp-content/upgrade
app/public/wp-includes
app/public/index.php
app/public/license.txt
app/public/readme.html
app/public/wp-activate.php
app/public/wp-blog-header.php
app/public/wp-comments-post.php
app/public/wp-config.php
app/public/wp-config-sample.php
app/public/wp-cron.php
app/public/wp-links-opml.php
app/public/wp-load.php
app/public/wp-login.php
app/public/wp-mail.php
app/public/wp-settings.php
app/public/wp-signup.php
app/public/wp-trackback.php
app/public/xmlrpc.php
app/public/local-adminer-B1T8NIkwe.php
app/public/local-phpinfo.php
