.main {
  min-height: calc( 100vh - #{ $header-height + $footer-height } );
}

.page-header {
  @extend .pt-5;
}

.page-title {
  @extend .mb-3;
  @extend .pb-1;
  border-bottom: 1px solid $gray-lighter;
}

.page-footer {
  @extend .mt-3;
  @extend .pt-2;
  border-top: 1px solid $gray-lighter;
}
