* {
  outline: none !important;
  box-shadow: none !important;
}

body {
  padding-top: $header-height;
}

header {
  height: $header-height;
}

footer {
  height: $footer-height;
}

img {
  @extend .img-fluid;
}

p:last-child {
  margin-bottom: 0;
}

.navbar-nav {

  li {
    @extend .nav-item;
  }

  a {
    @extend .nav-link;
  }

  .current-menu-item {
    @extend .active;
  }

}

.languages .nav-item {

  a {
    border-right: 1px solid $gray-lighter;
    line-height: 1;
  }

  &:last-child a {
    border: 0;
  }

}

.navbar-light .navbar-nav {

  a.facebook:hover {
    color: #3b5998;
  }

  a.twitter:hover {
    color: #1da1f2;
  }

  a.gplus:hover {
    color: #dd4b39;
  }

  a.mail:hover {
    color: #239ab9;
  }

  a.rss:hover {
    color: #f26522;
  }

}
