.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    float: left;

    a, span {
      display: inline-block;
      padding: 4px 8px;
    }

  }

}
