* {
  outline: none !important;
  box-shadow: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: $header-height;
}

header {
  height: $header-height;
}

footer {
  height: $footer-height;

  @include media-breakpoint-down(sm) {
    height: $footer-height-xs;
  }

}

img {
  @extend .img-fluid;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select, input, textarea {
  -webkit-appearance: none;
}

a {
  display: inline-block;
  transition: all 400ms;

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.container {
  position: relative;
}

.current-menu-item > a,
.active > a {
  color: $link-color !important;
}

p:last-child {
  margin-bottom: 0;
}
